<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ortala">
      {{ 'HOME' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/icon/kouosl_icon.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{ 'GET_STARTED' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'WELCOME_TO_PORTAL' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ 'WELCOME_CONTENT' | translate }}</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>{{ 'RESOURCES' | translate }}</ion-label>
      </ion-list-header>
      <ion-item href="https://github.com/kouosl/">
        <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
        <ion-label>{{ 'OUR_GITHUB_ACCOUNT' | translate }}</ion-label>
      </ion-item>
      <ion-item href="https://medium.com/kouosl">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>{{ 'GET_HELP_FROM_OUR_MEDIUM' | translate }}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
